# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user


# proyect files
db
zip
out

*tmp
*.bmp
*.png
*.eps
*.jpeg
*.pdf
*.docx
*.zip
*.rar
*.asv
*.mat
*.doc
*.txt
*.aux
*.log
*.gz

.vscode




